<div class="card pt-5">
  <h2><%=  @task.title %></h2>
  <%= link_to "Edit this task", edit_task_path, class:"btn btn-secondary col-3 mr-2" %>
  <p class="details-box"><%=  @task.details %></p>
  <p><%=  @message %></p>

  <%= link_to "Back to list", tasks_path, class:"btn btn-secondary col-3 mr-2" %>

</div>
<%= link_to "Delete",
    task_path(@task),
    method: :delete,
    data: { confirm: "Are you sure you want to delete #{@task[:title]} ?" },
    class:"btn btn-secondary col-3" %>
